$white: #fff;
$black: #000;
$primary-color: rgb(235, 141, 54);
$secondary-color: rgb(190, 117, 48);
$main-gradient: linear-gradient(45deg, rgba(190, 117, 48, 0.55), rgba(235, 141, 54, 0.45));
$shadow-color: rgba(235, 141, 54, 0.90);
