@use '../base/colors' as *;
@use '../utils/mixins' as *;
.gallery {
	&__slider {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		&__box {
			display: flex;
			transform: translateX(0);
			transition: transform 0.5s;
			// object-position: center;
		}
		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//media
@media (min-width:992px){
    .gallery{
        &__slider{
            height: 70rem;
        }
    }
}