@use '../base/colors' as *;
@use '../utils/mixins' as *;

.opinions {
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		box-shadow: 3px 3px 10px #2e2e2e2e;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.95);
		}

		&-img {
			position: absolute;
			top: 8%;
			left: 75%;
			transform: translate(-50%, -50%);

			img {
				width: 80px;
				height: 80px;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		&-quote {
			margin-bottom: 1em;
			font-size: 3rem;
			color: $primary-color;
		}
		&-text {
			margin-bottom: 1em;
			font-size: 1.4rem;
			color: $black;
		}
	}
}
